@import 'app/libs/sass-mediaqueries/_media-queries.scss' //media queries

@import url('https://fonts.googleapis.com/css?family=Alegreya|Playfair+Display')

@import 'smart-grid.sass'

@import 'app/css/fonts'

//------------------mixin-----------------//
=font($family, $size, $weight)
	font:
		family: $family
		size: $size
		weight: $weight

=btn
	text-decoration: none
	text-align: center
	+font($accent-font, 14px, 700)
	text-transform: uppercase
	line-height: 24px

//-------------------var------------------//

$main-font: 'Proxima Nova', Arial, sans-serif

$accent-font: 'Alegreya', Arial, sans-serif

$logo-font: 'Scriptina', Arial, sans-serif

$main-color: #ffffff

$accent-color: #56534c

$sub-header: #a47d5e


//-----------------------------------------//

ul
	list-style-type: none
	+row-flex



+reset
body
	letter-spacing: 0.1em
	header
		color: $main-color
		.head
			background-color: rgba(86, 83, 76, 0.5)
			position: absolute
			top: 0
			width: 100%

			.container
				+row-flex
				+wrapper
				+justify-content(space-between)
				+justify-content-lg(center)
				+flex-direction-md(column)
				padding:
					top: 8px
					bottom: 8px
				align-items: center
				a
					color: $main-color
					text-decoration: none
				.logo
					+col-xs-12
					+flex-basis-lg(100%)
					text-align: center
					margin-top: -21px
					a
						h1
							+font($logo-font, 30px, 400)
							margin: 0
							line-height: 2.5
				.top-menu
					+col-xs-12
					+flex-basis-lg(100%)
					text-align: center
					ul
						justify-content: center
						padding: 15px 0 20px
						li
							+flex-basis-sm(100%)
							text-align: center
							a
								text-transform: uppercase
								text-align: center
								+font($accent-font, 14px, 400)
								padding: 0 40px
								letter-spacing: 3px
				.social
					+col-xs-12
					+flex-basis-lg(100%)
					text-align: center
					ul
						justify-content: center
						li
							&:nth-child(2)
								padding: 0 28px
		.main-page
			padding: 330px 0 215px
			background:
				image: url("../img/bg.png")
				size: cover
				position: center
			.container
				+row-flex
				+wrapper
				+flex-direction(column)
				+align-items(center)
				text-align: center
				h1
					+font('Playfair Display', 92px, 700)
					letter-spacing: 10px
				img
					margin: 70px 0
				p
					+font($main-font, 24px, 400)
					line-height: 36px
				.main-page-btn
					margin-top: 70px
					padding: 20px 0
					a
						+btn
						color: $main-color
						background-color: rgba(86, 83, 76, 0.5)
						border: 1px dashed #9e9c93
						letter-spacing: 5px
						padding: 20px 50px
	.content
		position: relative
		.pastry
			text-align: center
			width: 100%
			position: absolute
			top: -49px
		.first-content
			padding: 105px 0 100px
			background:
				image: url("../img/bg-cake.png")
				size: cover
				position: center
				repeat: no-repeat
			.container
				+row-flex
				+wrapper
				+justify-content(space-around)
				.chief
					+col-6
					+col-sm-10
					.chief-title
						+row-flex
						flex-direction: column
						align-items: center
						text-align: center
						h2
							+font($accent-font, 48px, 700)
							color: $accent-color
						p.sub-header
							+font($accent-font, 14px, 700)
							color: $sub-header
							text-transform: uppercase
						p.chief-text
							+font($main-font, 14px, 400)
							color: $accent-color
							margin: 70px 0 45px
							text-align: center

					.chief-photo
						+row-flex
						flex-direction: column
						align-items: center
						h3.chief-photo
							+font($accent-font, 30px, 700)
							color: $accent-color
						.photo
							+row-flex
							+flex-direction-xs(column)
							+justify-content(center)
							padding: 50px 0 25px
							align-items: center
							p
								+font($accent-font, 24px, 400)
								color: $accent-color
								font-weight: normal
								letter-spacing: 0.025em
								border:
									bottom: 1px solid #d7d5ca
									top: 1px solid #d7d5ca
								padding: 22px
								line-height: 30px
							img
								margin: 10px 18px
						.quotes
							+row-flex
							+justify-content(center)
							+flex-direction-xs(column)
							margin-bottom: 20px
							.quote
								text-align: center
								span
									+align-self(flex-start)
									+align-self-xs(center)
								&:nth-child(3)
									+align-self(flex-end)
									+align-self-xs(center)
							.unique
								p
									+font($logo-font, 24px, 400)
									color: #a47d5e
									text-align: center
									width: 290px
								margin: -10px 20px 10px 20px
				.tastes
					+col-6
					+col-sm-10
					+row-flex
					+justify-content(space-around)
					align-self: center
					position: relative
					.tastes-img
						+col-6
						+col-xs-12

						text-align: center
						img
							margin-bottom: 10px
					.label
						position: absolute
						align-self: center

						z-index: 100
						text-align: center
						opacity: 0.9
						+row-flex
						flex-direction: column
						justify-content: center
						align-items: center
						img
							margin: 0
							width: 100%
						p
							+font($accent-font, 30px, 400)
							color: #c9b176
							position: absolute
							z-index: 101
		.second-content
			background:
				image: url("../img/bg-pank.png")
				size: cover
				position: center
			padding: 130px 0 110px
			.container
				+row-flex
				+wrapper
				+justify-content(center)
				.pancake-img
					+col-5
					// +offset-left(1)
					// +offset-left-sm(0)
					+col-sm-12
					text-align: center
					align-self: center
					img
						width: 100%
						max-width: 484px
				.pancake-main
					+col-6
					+offset-right(1)
					+offset-left-sm(0)
					+col-sm-12
					+row-flex
					margin: 0
					+flex-direction(column)
					+justify-content(center)
					+align-items(center)
					text-align: center
					padding: 30px 0
					background:
						image: url("../img/text-bg.png")
						size: cover
						position: center
					position: relative
					h1
						+font($accent-font, 48px, 700)
						color: $accent-color

					p.sub-header
						+font($accent-font, 14px, 400)
						color: #a47d5e
						text-transform: uppercase
					p.pank-text
						+font($main-font, 14px, 400)
						color: $accent-color
						max-width: 420px
						margin: 30px 15px 60px 15px
					.slider
						width: 100%
						max-width: 100px
						ul
							li
								border: none
					.ready
						position: absolute
						top: -40px
						right: -110px
						padding: 33px 48px
						box-shadow: 0px 10px 40px 6px rgba(105,80,58,0.69)
						background:
							image: url("../img/ready.png")
							size: cover
							position: center
						h3
							+font($accent-font, 18px, 700)
							color: #a47d5e
							text-transform: uppercase
						p.number
							+font($accent-font, 92px, 700)
							color: #dfc691
						p.mins
							+font($accent-font, 18px, 700)
							color: #979285
		.third-content
			background:
				image: url("../img/bg-breacfast.png")
				size: cover
				position: center
			.container
				+row-flex
				+wrapper
				+justify-content(space-around)
				padding: 90px 0 75px
				.left-menu
					+col-6
					+col-sm-12
					text-align: center
					h1
						+font($accent-font, 60px, 700)
						color: $main-color
					p.sub-header
						+font($accent-font, 18px, 400)
						color: #c8a593
					p.type
						margin-top: 60px
						+font($accent-font, 30px, 400)
						color: $main-color
					p.descr
						+font($main-font, 16px, 400)
						color: #c2beba
					p.price
						+font($accent-font, 36px, 400)
						color: #dfc691
				.right-menu
					align-self: center
					+col-4
					+offset-left(2)
					+offset-left-sm(0)
					+col-sm-12
					background:
						image: url("../img/menu-bg.png")
						size: cover
						position: center
					.menu-cont
						margin: 10px
						padding: 5px
						border: 1px dashed $accent-color
						text-align: center
						color: $accent-color
						.top-menu
							p.top
								+font($accent-font, 14px, 700)
							+row-flex
							+justify-content(space-around)
							margin: 45px 0 15px
						h2
							+font($accent-font, 44px, 700)
							margin-top: 70px
						p.menu-text
							+font($main-font, 14px, 400)
							margin: 45px 0 55px
						.menu-btn
							margin-bottom: 70px
							a
								+btn
								color: $accent-color
								padding: 15px 70px
								border: 1px solid #9e9c93
								&:hover
									background-color: rgba(158, 156, 147, 0.43)



//---------------------------------media-----------------------------------//

@include screen(781px, 960px) {.top-menu>ul>li>a{padding: 0 30px!important}}

@include max-screen(560px){.label>img{width:80%!important}; .label>p{font-size: 22px!important}.main-page>.container>h1{font-size: 50px!important}; .main-page>.container>p{font-size: 18px!important}; .ready{top: -160px!important; right: -10px!important; padding: 10px 30px!important}; }
